
{% extends 'website/base.html' %}

{% block header %}



{% endblock %}

{% block content %}
<main role="main" class="inner cover">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <figure class="figure">
          <img src="static/img/index.jpg" class="figure-img img-fluid rounded" alt="A screenshot from our Dailies Viewer">
          <figcaption class="figure-caption text-right">A screenshot from our Dailies Viewer.</figcaption>
        </figure>
      </div>
      <div class="col-6">
      </div>
    </div>
  </div>
</main>


{% endblock %}
