
{% extends 'website/base.html' %}

{% block header %}



{% endblock %}

{% block content %}
<main role="main" class="inner cover">
  <h1 class="cover-heading">Your Dailies Platform.</h1>
  <p class="lead">This is a small and simple application to view Dailies, Metadata and Livestreams from Set</p>
  <div class="row justify-content-center pt-4">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" onchange="document.getElementById('button-go').href='/viewer/' + this.value" placeholder="Project ID" >
        <div class="input-group-append">
          <a class="btn btn-primary" type="button" id="button-go" href="/">Go</a>
        </div>
      </div>
    </div>
  </div>
  <p class="mb-5">Don't know what you are doing here? Ask your DIT or post production manager for a project ID and project password.</p>
  <p class="font-weight-light">Are you a DIT or post production manager and want to host a project? No problem. <a href="/contact">Get in touch.</a></p>
</main>


{% endblock %}
