
{% extends 'website/base.html' %}

{% block header %}



{% endblock %}

{% block content %}
<main role="main" class="inner cover">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <figure class="figure">
          <h1>Sign up soon</h1>
          <p>This web application is currently in development. If you are interested in using it for your project today, just let us now under info@franconia-film.de an we will grant you access.</p>
        </figure>
      </div>
      <div class="col-6">
      </div>
    </div>
  </div>
</main>


{% endblock %}
