<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />    
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/label.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />




    <title>COVIDEO - Viewer</title>
    {% block header %}{% endblock %}
  </head>

  <body style="margin: 0">
    {% block content %}{% endblock %}
  </body>
</html>