
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">


    <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet">
    <link href="../../static/css/theatre.css" rel="stylesheet">

    <title>COVIDEO - Theatre</title>



  </head>
  <body>
    <main class="container-fluid" style="min-height: 100vh">
      <div class="spinner-grow text-secondary m-5" role="status" id="libloader">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="row content max-vh-100">
        <div class="col-6" id="colA" style="display: none;">
    			<p class="card-subtitle">Camera A - <span id="streamStatusA"></span></p>
          {{ liveStreams[0].embedd|safe }}
    		</div>
        <div class="col-6" id="colB" style="display: none;">
          <p class="card-subtitle">Camera B - <span id="streamStatusB"></span></p>
          {{ liveStreams[1].embedd|safe }}
    		</div>
        <div class="col-6" id="colC" style="display: none;">
    			<p class="card-subtitle">Camera C - <span id="streamStatusC"></span></p>
          {{ liveStreams[2].embedd|safe }}
        </div>
        <div class="col-6" id="colD" style="display: none;">
    			<p class="card-subtitle">Camera D - <span id="streamStatusD"></span></p>
          {{ liveStreams[3].embedd|safe }}
        </div>

        <div class="col-12" id="noCamEnabled" style="display: none;">
    			<p>No Cam selected. Please select from above.</p>
        </div>

      </div>
      <div class="row pt-2 pb-2">
        <div class="col-12">
          <button type="button" id="buttonA" onclick="toggleCam('A')" class="btn btn-outline-secondary">A</button>
          <button type="button" id="buttonB" onclick="toggleCam('B')"  class="btn btn-outline-secondary">B</button>
          <button type="button" id="buttonC" onclick="toggleCam('C')"  class="btn btn-outline-secondary">C</button>
          <button type="button" id="buttonD" onclick="toggleCam('D')"  class="btn btn-outline-secondary">D</button>
          <br /><br /><a href="{{ project['id'] }}">Back to Viewer</a>
        </div>
      </div>
    </main>
    <script type="text/javascript">
    	var projectId = {{ project['id'] }};
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://vjs.zencdn.net/7.5.5/video.js"></script>

    <script type="text/javascript" src="../../static/js/live.js"></script>
    <script type="text/javascript" src="../../static/js/theatre.js"></script>
  </body>
</html>
