.waste_clip {
  background-color: #E74C3C;
  color: #FFFFFF;
}

.thumbnail.waste_clip {
  border: 1.5px solid #E74C3C;
}

.normal_take {
  background-color: #F39C12;
  color: #FFFFFF;
}

.thumbnail.normal_take {
  border: 1.5px solid #F39C12;
}

.good_take {
  background-color: #00bc8c;
  color: #FFFFFF;
}

.thumbnail.good_take {
  border: 1.5px solid #00bc8c;
}

.fav_take {
  background-color: #3498DB;
  color: #FFFFFF;
}

.thumbnail.fav_take {
  border: 1.5px solid #3498DB;
}

.cameraA {
  color: #E74C3C;
}

.cameraB {
  color: #3498DB;
}

.cameraC {
  color: #00bc8c;
}

.cameraD {
  color: #F39C12;
}
