.youtube-player {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#noCamEnabled {
    text-align: center;
    height: 50vh;
    padding:0;
}

#noCamEnabled p {
}

.content .col-6 {
  height: 50vh;
}
.content .col-12 {
  height: 50vh;
}

.col-6 .video-js {
  padding-top: 50vh;
}
.col-12  .video-js {
  padding-top: 50vh;
}

.fullscreen {
  height: 100vh!important;
}

.fullscreen .video-js {
  padding-top: 100vh;
}

.card-subtitle {
    float: left;
    z-index: 500;
    position: sticky;
    margin-top: 5px;
    opacity: 0.7;
}
